<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824377190373-2j168e2a7o4ljn9f6fhpmolbkjleoego.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824377190373-2j168e2a7o4ljn9f6fhpmolbkjleoego</string>
	<key>API_KEY</key>
	<string>AIzaSyCzCK1dNXjs1CEbcXYE0XtsaE0kETumjSc</string>
	<key>GCM_SENDER_ID</key>
	<string>824377190373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.A2final</string>
	<key>PROJECT_ID</key>
	<string>fit5140-week09-294ea</string>
	<key>STORAGE_BUCKET</key>
	<string>fit5140-week09-294ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824377190373:ios:30fcb6e5b11f52201e710c</string>
	<key>DATABASE_URL</key>
	<string>https://fit5140-week09-294ea.firebaseio.com</string>
</dict>
</plist>